/* Theme */

main {
	background: #A62319;
	color: #FAFAFA;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}

.footer {
	display: inline-block;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #B34B12;
	color: white;
	text-align: center;
	font-size: 0.5rem;
}
