name: Python application

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r dev-requirements.txt
    - name: Lint with flake8
      run: |
        flake8 src/ tests/ --count --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with python unit test framework
      run: python -m unittest discover tests
